{
	"presets": [
		"react",
		[
			"env", 
			{ 
				"targets": {
					"browser": "last 2 versions"
				},
				"modules": false
			}
		]
	],
	"plugins": [
		"babel-plugin-transform-class-properties",
		"babel-plugin-transform-object-rest-spread"
	]
}