.timeline-asset-base{
	display: flex;
	background: rgba(234,234,234,0.5);
}
.timeline-asset-base.timeline-phase {
	padding: 20px 0;
	height: 110px;
}
.timeline-asset-base.timeline-timeline {
	padding: 20px 0px;
	height: 150px;
	background: red;
}

.timeline-asset-base .head{
	margin:5px;
}
.timeline-asset-base .tail{
	/*position: absolute;*/
	width: 50px;
	margin-right: -50px;
	border-radius: 0 20px 20px 0;
	background-color: blue;
	cursor: ew-resize;
}
.timeline-asset-base .tail .preview{
	opacity: 0;
	width: 1px;
	height: 1px;
}
