.scene {
	width: 125px;
	height: 95px;
	background: none;
	/*border-radius: 20px;*/
	/*overflow: hidden;*/
}

.scene span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.scene .hover-tint{
	width: 125px;
	height: 70px;
	box-shadow: 0px 0px 45px 15px rgba(51,51,51,0.6);
}

.scene .edit-icon{
	left: 75px;
	top: 13px;
}

.scene .delete-icon{
	left: 13px;
	top: 13px;
}