.asset-collection {
	flex-grow: 1;
	overflow: auto;
	margin: 0 -50px -20px -50px;
	padding: 0 50px 20px 50px;
}

.asset-collection ul {
	display: flex;
	flex-wrap: wrap;
}

.asset-collection li {
	margin-top: 25px;
}

#add-asset .large-plus-icon:hover {
	cursor: pointer;
	background: white;
	box-shadow: 0 0 75px 30px rgba(255,255,255,1);
}

#add-asset .large-plus-icon {
	border: 4px rgb(120, 160, 160) solid;
	width: 65px;
	height: 65px;
	margin: auto;

	font-size: 60px;
	text-align: center;
	color: rgb(120, 160, 160);
}
