.detail-container {
	/*position: relative;*/
	display: flex;
	min-width: 620px;

	background: rgb(234,234,234);
	
	/*font-family: 'Quicksand', sans-serif;*/
}

/*header*/
.detail-container header{

	display: flex;
	flex-direction: column-reverse;
	align-items: center;

	padding: 5px 1px 5px 0;
	
	width: 33px;
	/*min-width is for safari*/
	min-width: 33px;
	
	background: rgb(78,79,81);
}

.detail-container header .h2Wrapper{
	/* fixes the rotation offset*/
	margin: 0 1px -10px 0;
}

.detail-container header h2{
	transform: rotate(-90deg);

	margin-bottom: 50%;
	color: rgb(170,182, 180);

	font-size: 18pt;
	font-weight: lighter;

	white-space: nowrap;
}

.detail-container .container-body {
	/*display: flex;*/
	/*flex-direction: column;*/
	width: 100%;
	/*min-height: 552px;*/
	padding: 0 30px 30px;
}

.detail-container .container-body form {
}

.detail-container .container-body form p {
	margin: 10px 0;
}

.detail-container .container-body fieldset{
	/*border: 1px black solid;*/
	/*padding: 10px;*/
	margin: 10px 0;
}

.detail-container .container-body .btns{
	margin-top: 20px;
}

.detail-container .container-body .btn{
	margin-right: 20px;
}