.image-editor{
	position: relative;
	width: 400px;
	height: 400px;
	/*width: 100%;*/
}

.unused-image-tint{
	position: absolute;
	background: rgba(100,100,150,0.5);
	width: 100%;
	height: 100%;
}

.image-preview-frame{
	overflow: hidden;
	position: absolute;
	border: 2px dashed rgb(170, 182, 180);
}

.uncropped-image-frame{
	position: absolute;
}