.timeline-asset{
	display: flex;
	position: absolute;
	background: rgba(234,234,234,0.5);
	/*padding: 5px;*/
}

.timeline .selected{
	box-shadow: 0 0 0 3px blue;
	z-index: 2;
}

.timeline-asset.timeline-phase {
	padding: 20px 0;
	height: 110px;
}

.timeline-asset .body {
	position: relative;
	background: rgba(234,234,234,0.5);
}

.timeline-asset .head{
	margin:5px;
}

.timeline-asset .tail{
	/*position: absolute;*/
	width: 50px;
	margin-right: -50px;
	border-radius: 0 20px 20px 0;
	background-color: blue;
}