.dropzone {
	/*width: 125px;*/
	/*height: 70px;*/
	border: 2px dashed rgb(78, 79, 81);
}

.dropzone div {
	/*margin: auto;*/
}

.dropzone p,
.dropzone img {
	text-align: center;
	font-size: 10pt;
	/*margin: 3px 0;*/
	line-height: 15px;
}

.dropzone p{
	padding: 0 3px;
}

.image-loader {
	display: flex;
	/*align-items: center;*/
}

.image-loader-frame {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	height: 100%;
	overflow: hidden;
}

.image-loader-frame p{

}