.detail-container {
	/*position: relative;*/
	display: flex;
	min-width: 620px;

	background: rgb(234, 234, 234);

	/*font-family: 'Quicksand', sans-serif;*/
}

.detail-container > .container-body {
	/*display: flex;*/
	/*flex-direction: column;*/
	width: 100%;
	/*min-height: 552px;*/
	padding: 10px 30px 30px;
}

.detail-container form {
}

.detail-container .fieldset {
	/*border: 1px black solid;*/
	/*padding: 10px;*/
	margin: 10px 0;
}

.detail-container .fieldset h3 {
	display: inline-block;
}

.detail-container .fieldset div {
	margin-bottom: 6px;
}

.detail-container .btn {
	margin-right: 20px;
}

.detail-container .btns {
	margin-top: 20px;
}

.detail-field input[type="number"] {
	width: 40px;
}

.horizontal-field {
	margin-right: 15px;
	display: inline-block;
}


