.field-error{
	color: red;
	margin-left: 5px;
}

.detail-field h3 {
	display: inline-block;
}

.detail-field div {
	margin-bottom: 6px;
}

.detail-field input[disabled]{
	cursor: default;
	user-select: none;
}