#main-header {
	background: rgb(120, 160, 160);
	/*background: rgb(120, 160, 0);*/
	/*overflow: auto;*/
	height: 65px;
	display: flex;
	align-items: center;
	padding-left: 7%;
}

#main-header h1 {
	font-size: 1.5em;
	font-family: sans-serif;
	color: rgb(255, 255, 253);
}

.container-holder{
	padding: 35px 7% 0 7%;
}
.asset-containers{
	display: flex;
	justify-content: space-between;
}

.hover-tint:hover{
	opacity: 1;
}

.hover-tint{
	opacity: 0;
	position: absolute;
	background: rgba(51,51,51,0.6); 
}

.hidden{
	visibility: hidden;
}