.asset-container {
	display: flex;
	
	width: 360px;
	height: 295px;

	margin-right: 25px;
	
	background: rgb(234,234,234);
}

/*header*/
.asset-container header{

	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;

	padding: 5px 1px 5px 0;
	
	width: 33px;
	
	background: rgb(78,79,81);
}

.asset-container header .h2Wrapper{
	/* fixes the rotation offset*/
	margin: 0 1px -10px 0;
}

.asset-container header h2{
	transform: rotate(-90deg);

	margin-bottom: 50%;
	color: rgb(170,182, 180);

	font-family: 'Quicksand', sans-serif;
	font-size: 18pt;
	font-weight: lighter;
}

.small-plus-icon {
	border: 2px rgb(253, 144, 105) solid;
	border-radius: 50%;
	height: 20px;
	width: 20px;

	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	color: rgb(253, 144, 105);
}

/* body */
.asset-container .container-body {
	flex-grow: 1;
	padding: 8px 15px;
	overflow: auto;
	/*overflow-y: scroll; */
}

.asset-container .container-body input{
	width: 100%;
	height: 20px;
	border-radius: 4%/50%;
	border: none;
	margin-bottom: 25px;
}

.asset-container .container-body input::placeholder{
	/* centers the search placeholder */
	text-align: center;
}

.asset-container .container-body ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.asset-container .container-body li{
	margin-bottom: 25px;
}

#addPhase {
	width: 135px;
	height: 95px;
	border: 1px solid green;
}

.large-plus-icon {
	border: 4px rgb(120, 160, 160) solid;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin: auto;
	margin-top: 11px;

	font-size: 60px;
	text-align: center;
	color: rgb(120, 160, 160);
}




