.phase {
	position: relative;
	width: 125px;
	height: 95px;
	/*border: 1px solid green;*/
	background: white;
}

.phase-image-cropper {
	height: 70px;
	overflow: hidden;
}

.phase span {
	display: block;
	padding: 7px 5px 5px 5px;

	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.phase .hover-tint{
	width: 125px;
	height: 70px;
}

.edit-phase-icon{
	position: absolute;
	left: 75px;
	top: 13px;
}

.delete-phase-icon{
	position: absolute;
	left: 13px;
	top: 13px;
}

.edit-phase-icon:hover, .delete-phase-icon:hover{
	cursor: pointer;
}


/*_________default tumbnail_____*/
.default-thumbnail{
	overflow: hidden;
	position: relative;
	height: 95px;
	width: 125px;
	display: flex;
}

.default-thumbnail img{
	position: absolute;
}
.default-thumbnail-tint{
	position: absolute;
	background: rgba(51,51,51,0.8);
	width: 125px;
	height: 95px;
}

.phase .name-frame{
	position: absolute;
	width: 105px;
	height: 75px;
	padding: 10px;
	display: flex;
}
.phase .name-frame .name-crop{
	overflow: hidden;
	flex-grow: 1;
	display: flex;
}

.phase .name-frame span {
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	white-space: normal;
	color: white;
	margin: auto;
	text-align: center;
}



