.phase {
	position: relative;
	width: 125px;
	height: 95px;
	/*border: 1px solid green;*/
	background: white;
}

.phase-image-cropper {
	height: 70px;
	overflow: hidden;
}

.phase span {
	display: block;
	padding: 7px 5px 5px 5px;

	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.phase .hover-tint{
	width: 125px;
	height: 70px;
}

.edit-phase-icon{
	position: absolute;
	left: 75px;
	top: 13px;
}

.delete-phase-icon{
	position: absolute;
	left: 13px;
	top: 13px;
}